#app {
}

body {
    background-color: #404551;
    color: #D3DAE2;
}



/*FIX wrong table layout*/
.list-item-name {
    padding-left: 10px;
}

.react-bs-table-container {
    height: auto !important;
}

.react-bs-container-body {
    height: auto !important;
}

.react-bs-table-bordered {
    height: auto !important;
}

/*end of fix*/
